h1{
    font-family: 'Libre Baskerville', serif;
    color: white
}

html{
    background-color: black;
}

.image1{
    border: 5px solid white;
    width: 100%;
}

.testing{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}